* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0.87);
}
body {
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.header {
  background: orange;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.menu ul {
  display: flex;
  align-items: center;
}
.menu li {
  list-style: none;
  margin: 0 5px;
}

.menu li > a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.menu li > img:hover{
  cursor: pointer;
}

.circle-menu {
  width: 20px;
}

.avatar {
  width: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > .container-logo img {
  width: 272px;
  max-height: 92px;
}
.search {
  margin: 50px 20px;
  width: 60%;
  border-radius: 20px;
  height: 44px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.search:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}
.search:focus {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}
.search img {
  width: 25px;
}
.input-search {  
  border: none;  
  width: 100%;
  height: 80%;
  padding: 0 10px;
}
.input-search:focus {  
  border: none;  
  outline: none;
}
.icon-search {
  fill: lightgrey;
}
.icon-microphone{
  cursor: pointer;
}
.options {
  display: flex;
}
.options button {
  margin: 0 5px;
}
button {
  cursor: pointer;
}
.default-button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
}
.default-button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.footer {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  color: #70757a;
  width: 100%;
  
}
.footer ul {
  display: flex;
}
.footer ul li {
  list-style: none;
  margin-right: 10px;  
}
.footer ul li > a {
  color: #70757a;
}
.footer-menu {
  display: flex;
  color: #70757a;
  justify-content: space-between;
  border-top: 1px solid #dadce0;
  padding: 20px 30px;
}
.country {
  color: #70757a;
  padding: 20px 30px;
}

@media screen and (max-width: 1200px) {
  .footer-menu {
    flex-wrap: wrap;
  }
  .search {
    width: 80%;
  }
}